<table class="table">
    <thead>
        <tr>
            <th scope="col">Fecha Ingreso</th>
            <th scope="col">Hora Ingreso</th>
            <th scope="col">Cedula</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let items of date">
            <td>{{items.FechaIngreso}}</td>
            <td>{{items.HoraIngreso}}</td>
            <td>{{items.id}}</td>
        </tr>
    </tbody>
</table>
<br>
<hr>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Fecha Salida</th>
            <th scope="col">Hora Salida</th>
            <th scope="col">Cedula</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let items of date2">
            <td>{{items.FechaIngreso}}</td>
            <td>{{items.HoraIngreso}}</td>
            <td>{{items.id}}</td>
        </tr>
    </tbody>
</table>